html,body{height: 100%;overflow: hidden;}
#head{width:100%;background-color: white;}
#head .headMain{margin:0 auto;width: 1100px;height: 80px;position: relative;}
#head .headMain .logo{float:left;margin-top: 30px;}
#head .headMain .nav{float: right;margin-top: 50px;}
#head .headMain .nav ul li{ float:left;margin-left: 40px;position: relative;}
#head .headMain .nav ul li .up{position: absolute;color: black;width: 0px;overflow: hidden;}
#head .headMain .nav ul li:hover .up{width: 100%;}
#head .headMain .arrow{width: 21px;height: 11px;background-image: url(../img/menuIndicator.png);position: absolute;left:50%;top: 80px;transition: 1s;z-index: 2;}
/*内容区*/
#content{width:100%;background-color: gray;overflow: hidden;position: relative;}
#content>ul>li>div{overflow: hidden;}
#content>ul:first-child{position: absolute;left: 0;top: 0;width: 100%;transition: 1s;}
#content>ul:first-child>li{position: relative;background-position: 50% 50%!important;}
#content>ul:first-child>li>div{width: 1100px;height:520px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
#content ul .home{background: url(../img/bg1.jpg) no-repeat;}
#content ul .course{background: url(../img/bg2.jpg) no-repeat;}
#content ul .works{background: url(../img/bg3.jpg) no-repeat;position: relative;}
#content ul .about{background: url(../img/bg4.jpg) no-repeat;}
#content ul .team{background: url(../img/bg5.jpg) no-repeat;}
.commonTitle{ color:#009ee0; font-size:80px; line-height:0.8; 
			  font-weight:bold; letter-spacing:-5px;}
.commonText{ color:white; line-height:1.5; font-size:15px;}
#content ul .works .worksTitle{margin: 50px 0 100px 50px;}
#content ul .works .list{margin-left: 50px;}
#content ul .works .list .item{float: left;margin: 0 1px;position: relative;overflow: hidden;}
#content ul .works .list .item:not(:last-child){width: 220px;height: 133px;}
#content ul .works .list .item:last-child{width: 332px;}
#content ul .works .list .item .mask{position: absolute;top: 0;left: 0;right: 0;bottom: 0;
									background-color: rgb(25,25,25);opacity:0;color: white;
									box-sizing: border-box;padding: 15px;transition: 1s;}
#content ul .works .list .item .mask:hover{opacity: 0.8;}
#content ul .works .list .item img{transition: 1s;}
#content ul .works .list .item:hover img{transform: rotate(10deg) scale(1.3);}
#content ul .works .list .item .mask .icon{width: 32px;height: 34px;margin: 0 auto;margin-top: 10px;background: url(../img/zoomico.png) no-repeat;transition: 1s;}
#content ul .works .list .item .mask .icon:hover{background-position:0 -36px;}
#content ul .works .worksImg{position: absolute;left: 900px;top: 170px;}
#content ul .works .worksImg{animation: workMove 3s linear infinite;}
#content ul .course,#content ul .about,#content ul .team{position: relative;}
#content ul .course .courseTitle,#content ul .about .aboutTitle,#content ul .team .teamTitle{margin: 50px 0 50px 50px;}
#content ul .course .courseText,#content ul .about .aboutText{width: 400px;height: 400px;margin-left: 50px;}
#content ul .course .courseTitle,#content ul .course .courseText{position: relative;z-index: 2;}
#content ul .course .photos{position:absolute;width: 480px;top: 70px;right: 50px;z-index: 10;}
#content ul .course .photos .line{position: absolute;width: 9px;height: 410px; background: url(../img/plus_row.png);top: -8px;}
#content ul .course .photos .item{float:left;width: 120px;height: 132px;position: relative;perspective: 500px;transform-style: preserve-3d;background-repeat: no-repeat;background-position: 50% 50%;}
#content ul .course .photos .item .backface,#content ul .course .photos .item .face
								{width: 100%;height: 100%;position: absolute;left: 0;top: 0;transition: 3s;}
#content ul .course .photos .item .backface{background-position: 50% 50%;background-repeat: no-repeat;}
#content ul .course .photos .item .face{transform: rotateY(180deg);backface-visibility: hidden;}
#content ul .course .photos .item:hover .face{transform: rotateY(360deg);background-color: #009ee0;box-sizing: border-box;padding: 15px;}
#content ul .course .photos .item:hover .backface{transform: rotateY(180deg);}
#content>ul>li.home>div>ul:first-of-type{width: 100%; height: 100%;perspective: 1000px;transform-style: preserve-3d;transition: 1s;}
#content ul .home ul:first-of-type li{width: 100%;height: 100%;position: absolute;left: 0;top: 0; visibility: hidden;}
#content ul .home ul li div{color: white;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
#content ul .home ul li:nth-child(1){background-color: #dc6c5f;}
#content ul .home ul li:nth-child(2){background-color: #95dc84;}
#content ul .home ul li:nth-child(3){background-color: #64b9d2;}
#content ul .home ul li:nth-child(4){background-color: #000000;}
#content ul .home ul li.active{visibility: visible;}
#content ul .home ul li.onActive{background-color: rgba(255,255,255,1)!important;}
#content ul .home ul li.leftHide{visibility: hidden;animation: leftHide 1s 1 linear;}
#content ul .home ul li.rightShow{visibility: visible;animation: rightShow 1s 1 linear;}
#content ul .home ul li.leftShow{visibility: visible;animation: leftShow 1s 1 linear;}
#content ul .home ul li.rightHide{visibility: hidden;animation: rightHide 1s 1 linear;}
#content ul .home div ul:last-of-type{position: absolute;bottom: 20px;left: 0;right: 0;text-align: center;transition: 1s;}
#content ul .home div ul:last-of-type li{display: inline-block;box-shadow: 0 0 4px rgba(25,25,25,0.8);width: 20px; height: 20px;border-radius: 50%;background-color: rgba(255,255,255,0.5);margin: 2px;}
#content ul .about div>.line{width: 357px;height:998px;background: url(../img/greenLine.png) no-repeat;position: absolute;left: 60%;top: -6%;}
#content ul .about .aboutPhotos .item{width: 270px;height: 210px;border: 5px solid rgba(255,255,255,0.5);border-radius: 8px;position: absolute;z-index: 2;overflow: hidden;}
#content ul .about .aboutPhotos .item:first-child{left:750px; top:50px;transition: 1s;}
#content ul .about .aboutPhotos .item:last-child{left:600px; top:290px;transition: 1s;}
#content ul .about .aboutPhotos .item div{width: 100%;height: 100%;transition: 1s;}
#content ul .about .aboutPhotos .item:first-child div{background: url(../img/about2.jpg) no-repeat;transform: scale(1.5);}
#content ul .about .aboutPhotos .item:last-child div{background: url(../img/about4.jpg) no-repeat;transform: scale(1.5);}
#content ul .about .aboutPhotos .item:hover div{transform: scale(1);}
#content ul .about .aboutPhotos .item ul{transition: 1s;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
#content ul .about .aboutPhotos .item ul li{overflow: hidden;float: left;position: relative;}
#content ul .about .aboutPhotos .item ul li img{position: absolute;transition: 0.5s;}
#content>ul:last-child{position: fixed;right: 0;top: 45%;z-index: 12;}
#content>ul:last-child li{height: 20px;width: 20px;border: 4px solid white;border-radius: 50%;margin-bottom: 10px;}
#content ul .team .teamText{margin: 50px;width: 400px;float: right;}
#content ul .team .teamTitle{float: left;}
#content ul .team div>ul{position: absolute;top: 0;left: 0;right:0;margin: 250px auto; width: 944px;height: 448px;}
#content ul .team div>ul li{background: url(../img/team.png) no-repeat;width: 118px;height: 100%;float: left;transition: 1s;}
#content ul .team div canvas{position: absolute;}
#content ul .team h1{transition: 1s;}
#content ul .team>div>div{transition:transform 1s ;}
.course .plane1{ width:359px; height:283px; background:url(../img/plane1.png) no-repeat; position:absolute; left:300px; top:-100px; transition:1s;}
.course .plane2{ width:309px; height:249px; background:url(../img/plane2.png) no-repeat; position:absolute; left:-100px; top:200px; transition:1s;}
.course .plane3{ width:230px; height:182px; background:url(../img/plane3.png) no-repeat; position:absolute; left:300px; top:400px; transition:1s;}
.works .pencel1{ width:180px; height:97px; background:url(../img/pencel1.png) no-repeat; position:absolute; transition:1s; left:500px; top:0;}
.works .pencel2{ width:268px; height:38px; background:url(../img/pencel2.png) no-repeat; position:absolute; transition:1s; left:300px; top:250px;}
.works .pencel3{ width:441px; height:231px; background:url(../img/pencel3.png) no-repeat; position:absolute; transition:1s; left:650px; top:300px;}
#wrap,#wrap .mask{height: 100%;width: 100%;}
#wrap .mask{position: absolute;z-index: 100;}
#wrap .mask .up{width: 100%;height: 50%;background: deepskyblue;transition: 1s height;}
#wrap .mask .down{width: 100%;height: 50%;background: deepskyblue;transition: 1s height;position: absolute;bottom: 0;}
#wrap .mask .line{height: 4px;background-color: white;position: absolute;top: 50%;margin-top: -2px;transition: 1s width;}
@keyframes workMove{
	0%{transform: translateX(0px) rotateY(0deg);}
	49%{transform: translateX(-399px) rotateY(0deg);}
	50%{transform: translateX(-400px) rotateY(180deg);}
	100%{transform: rotateY(180deg);}
}
@keyframes leftHide{
	0%{visibility: visible;}
	50%{transform: translateX(-40%) rotateY(30deg) scale(0.8);}
	100%{transform: translateZ(-200px);}
}
@keyframes rightShow{
	0%{visibility: hidden;transform: translateZ(-200px);}
	50%{transform: translateX(40%) rotateY(-30deg) scale(0.8);}
	100%{}
}
@keyframes leftShow{
	0%{visibility: hidden;transform: translateZ(-200px);}
	50%{transform: translateX(-40%) rotateY(30deg) scale(0.8);}
	100%{}
}
@keyframes rightHide{
	0%{visibility: visible;}
	50%{transform: translateX(40%) rotateY(-30deg) scale(0.8);}
	100%{transform: translateZ(-200px);}
}